<h1>About YardVend</h1>
<h3>YardVend is your personal yard sale - on the web!</h3>
<p>YardVend allows you to put your items for sale from anywhere! You can set up shop with just a few clicks!</p>
<p>YardVend <span class="glyphicon glyphicon-heart" style="color:#FF0000"></span>'s Ruby on Rails</p>
