<h1>Contact Me</h1>
<h4>Hello! I'm Ra!</h4>
<p>YardVend is currently run by one person, but I'm actively looking for people to join me on making this into a full-fledged online yard sale site.</p>
<p>To join the YardVend team or to talk to me about anything else, e-mail me at: <%= mail_to "ra@bluephoenixra.com" %></p>
