<p class="center"><a href="/pages/contact">Contact <span class="glyphicon glyphicon-envelope"></span></a></p>
<p class="thanks-to">Copyright &copy; 2015 <%= link_to "YardVend", "http://www.yardvend.com/" %></p>
